-gallery_images = ["robotschool.jpg","futbolRobot.jpg","robotics_news.jpg"]
!!!5 
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Club de Robotica ITM
    %meta{name:"description", content:"It’s not just a theme."}
    %link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}
    %link{href:'https://fonts.googleapis.com/css?family=Montserrat" rel:"stylesheet', type:'text/css'}
    %link{rel:"shortcut icon", href:"imgs/SpacePod.ico"} 
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{rel:"stylesheet",href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"}
  %body
    .video-container
      %video{autoplay:true,loop:true,width:"1280",height:"720",poster:"videos/images/circuit.jpg"}
        %source{src:"videos/mp4/circuit.mp4",typ:"video/mp4"}
        %source{src:"videos/webm/circuit.webm",typ:"video/webm"}
    .row.full-height.middle-xs.center-xs.relative.up#home
      .col-xs-12
        .box.white-text
          %img{src:"imgs/logo.png", width:200}
          %h1.Montserrat.title.no-margin TecNM Mexicali
          %p#is-open
            %i.glyphicon.glyphicon-time
            Abierto ahora
      %nav.fixed.top.right.navigation.white-text#navigation
        -menu = ["Inicio","Galería","Noticias" ,"Contacto", "Cómo llegar"]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{}= item
      .absolute.black.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Tecnologico de Mexicali       
          .col-xs.hidden#sticky-navigation
            .box
              %nav.text-right.navigation
                %ul.list-inline
                  -menu.each do |item|
                    %li
                      %a{}= item

    .text-center.relative#menu
      .absolute.white#menu-title
        %h2.Montserrat.subtitle Galeria
      -menu_photos = [{name:"Club de Robotica",image:"Clubderobotica"},{name:"Robomaxres",image:"Robomaxres"},{name:"Sigue Lineas",image:"robotRSL"},{name:"Servo Spider",image:"Servospider"},{name:"Robot Seguidor de Lineas",image:"Siguelineas"},{name:"Torneo RSL ITMXLI",image:"TorneotecRSL"}]
      
      .row
        -menu_photos.each do |photo|
          .col-md-4-col-lg-3.col-sm-6.col-xs-12.pictures{style:"background-image:url(./imgs/pictures/#{photo[:image]}.jpg)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.Montserrat.subtitle.medium= photo[:name]
    #gallery
      .inner
        -gallery_images.each do |image|
          .image{style:"background-image:url(imgs/pictures/#{image});"}
    }
    .container
      .card.white.black-text.text-center.relative
        %h3.slim
          En el
          %strong.Montserrat.medium Club de Robotica 
          Aprender Robotica Nunca fue tan 
          %strong.Montserrat.medium Facil
        %p.text-justify.top-space.bottom-space
          Academy is a perfect theme for sharing and selling your knowledge online. It’s not just a theme, but learning management system that provides great features to make learning and teaching online easier for 
          %strong.Montserrat.medium everyone.
          .large-padding.medium.black.white-text.text-center
            Puedes acceder a este sitio sin conexión a internet
    .black.white-text.full-height#contact
      .row.middle-xs.full-height
        .col-xs-12
          .box
            %p.text-center.medium#info-contacto Presiona enter para llenar el campo correspondiente y enviarnos un correo.

            %form{action:"https://formspree.io/hectorum9214@gmail.com",method:"POST",id:"contact-form",class:"step-form"}
              
              .row.center-xs
                .col-xs-2.col-md-1.text-center
                  .box
                    -3.times do |i|
                      -if i == 0
                        .path-step.active
                      -else
                        .path-step
                      %br
                .col-xs-5
                  .box
                    %fieldset.step.active
                      %input{type:"email",name:"email",placeholder:"Correo Electrónico",class:"input",required:true}
                    %fieldset.step
                      %input{type:"text",name:"name",placeholder:"Nombre Completo",class:"input",required:true}
                    %fieldset.step
                      %textarea{name:"body",placeholder:"Ingresa tu mensaje aqui...",class:"input",required:true}
    #location                  
      #map
      #message.black.large-padding.white-text.text-center.medium 

    %script{src:"http://code.jquery.com/jquery-3.0.0.min.js", integrity:"sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=", crossorigin:"anonymous"}
    :javascript
      window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>");
    %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyB0D73f6WAwkycv_k-lWjH_C68em18lQXY"}  
    %script{src:"/dist/maps.js"}
    %script{src:"/dist/form_object.js"}
    %script{src:"/dist/main.js"}
    %script{src:"/dist/steps.js"}
    